@import "bootstrap";

// 目に優しい色
body{
  background-color: #dcd6d9;
}


a{
  text-decoration: none;
  color: #330000;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
.prev a:hover {
  color: black;
}

.current {
  font-weight: bold;
}

.pagination {
  justify-content: center;
}

.ex{
  color: red;
}